<div>
    @Html.Sitecore().Field("Title")
    
</div>

<div>
    @Html.Sitecore().Field("Brief")
</div>

<div>
    @Html.Sitecore().Field("DetailBlog")
</div>

<div>
    @Html.Sitecore().Field("Author")
</div>

<div>
    @Html.Sitecore().Field("PublishedDate")
</div>


<div>
    @Html.Sitecore().Field("HeroImage")
</div>